RestService/Air_carriers_XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" />
				<xs:element name="carriers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="carrier">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:short" />
										<xs:element name="name" type="xs:string" />
										<xs:element name="iata" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>